@{ ViewData["Title"] = "Политика за повелителност"; }
<h1>@ViewData["Title"]</h1>


<h2>Въведение</h2>

<p>1.1 Ние сме ангажирани с опазването на личните данни на нашите посетители в сайта. В тази декларация ние обясняваме как ние ще приемем вашата лична информация.</p>

<p>1.2 Ще ви помолим да се съгласявате с използваните от нас бисквитки в съответствие с условията на тази политика, когато за първи път, посетете нашия сайт. С използването на нашия уеб сайт и съгласяването с нашата политика вие се съгласявате с използваните от нас бисквитки в съответствие с условията на тази политика.</p>


<p>
    2. Събиране на лична информация
</p>

<p>
    2.1 Ние може да събираме, съхраняваме и използваме следните видове лична информация:
</p>

<p>
    (А) Информация за вашия компютър и за посещенията ви при използването на този сайт (включително вашия IP адрес, географско местоположение, тип на браузъра и версията, операционна система, дължина на посещение, посетените страници);
</p>

<p>
    (Б) Информация, която ни предоставяте при регистрация в нашия сайт (включително имейл адрес);
</p>

<p>
    (В) Информация, която предоставяте при попълването профила ви в нашия сайт (включително вашето име, адрес, телефон);
</p>

<p>
    (Г) Информация, свързана с всички покупки, които правите на нашите (продукти / услуги) или всякакви други сделки (включително вашето име, адрес, телефонен номер, имейл адрес);
</p>

<p>
    (Д) Информация, съдържаща се в или свързана с всякаква комуникация, направена или изпратена чрез нашия уебсайт (включително съдържанието на комуникацията, мета данни свързани с комуникацията);
</p>

<p>
    (Е) Всяка друга лична информация, която сте избрали, да изпратите до нас;
</p>

<p>
    2.2 Преди да разкриете пред нас личната информация на друго лице (трето лице), трябва да получите разрешение от това лице, както за разкриването така и за обработването на личните им данни в съответствие с тази политика.
</p>


<p>
    3. Използване на личните Ви данни
</p>

<p>
    3.1 Лична информация, предоставена ни от вас ще се използва за целите, определени в тази политика.
<p>

<p>
    3.2 Ние може да използваме вашата лична информация за:
<p>

<p>
    (А) Администрираме нашия сайт и бизнеса;
<p>

<p>
    (Б) Персонализиране на нашия сайт за вас;
<p>

<p>
    (В) За да може да използвате  услугите на нашия уебсайт;
<p>

<p>
    (Г) За да можем да ви предоставим услугатите, закупени през нашия сайт;
<p>

<p>
    (Д) За изпращане на декларации, фактури и платежни напомняния към вас, и за събиране на плащания от вас;
<p>

<p>
    (Е) За изпращане на извън маркетингови търговски съобщения;
<p>

<p>
    (Ж) За изпращане на имейл известия, които сте поискани или очаквали;
<p>

<p>
    (З) За изпращане на маркетингови съобщения, свързани с нашата дейност (или бизнеса на внимателно подбрани трети лица), които смятаме, че може да представляват интерес за вас, по пощата чрез имейл или подобна технология (можете да ни информирате по всяко време, ако вече не се нуждаете от маркетингова комуникация);
<p>

<p>
    3.3 Ако ни изпратите лична информация за публикуване на нашия сайт, ние ще я публикуваме в съответствие с лиценза, който предоставите на нас.
<p>

<p>
    3.4 Ние няма да предоставим вашата лична информация на трети лица независимо за какви цели  без вашето изрично съгласие.
<p>

<p>
    3.5 Всички наши финансови транзакции се обработват чрез нашия доставчик на платежни услуги, BlueSnap. Можете да преразгледа политиката за поверителност на доставчика на http://home.bluesnap.com/ecommerce/legal/privacy-policy  Ние ще обменяме информация с нашия доставчик на платежни услуги само до степента, необходима за целите на обработка на плащанията, които правите чрез нашия уебсайт - възстановяване на тези плащания и разглеждане на жалби и запитвания, свързани с такива плащания и възстановявания.
<p>


<p>
    4. Разкриване на лична информация
<p>

<p>
    4.1 Ние може да разкрием вашата лична информация на някой от нашите служители, застрахователи, професионални консултанти, агенти, доставчици и подизпълнители, доколкото е разумно и необходимо за целите, посочени в тази политика.
<p>

<p>
    4.2 Ние може да разкрием вашата лична информация:
<p>

<p>
    (А) До такава степен, че сме длъжни да го направим по закон;
<p>

<p>
    (Б) Във връзка с всякакви текущи или бъдещи съдебни производства;
<p>

<p>
    (В) За уражняване или защита на нашите законови права (включително предоставяне на информация на други лица за целите на борбата с измамите и намаляване на кредитния риск);
<p>

<p>
    (Г) На купувача (или бъдещият купувач) на всеки бизнес или актив, който ние продаваме (или възнамеряваме да продадем);
<p>

<p>
    4.3 С изключение на предвиденото в тази политика, ние няма да предоставим лична информация на трети страни.
<p>


<p>
    5. Интернационален обмен на данни
<p>

<p>
    5.1 Информацията, която събираме, може да бъде съхранявана, обработвана и прехвърлена между всяка от страните, в които работим, за да се даде възможност на нас, за да използваме информацията в съответствие с тази политика.
<p>

<p>
    5.2 Информацията, която събираме, може да бъде прехвърлена на следните държави, които нямат закони за защита на данните, еквивалентни на тези, които са в сила в Европейското икономическо пространство:Съединените американски щати, Русия, Япония, Китай и Индия.
<p>

<p>
    5.3 Личната информация, която публикувате на нашата интернет страница или изпратите за публикуване на нашия сайт може да бъде на разпространена, чрез интернет, по целия свят. Ние не може да попречим на използването или злоупотребата с такава информация от други.
<p>

<p>
    5.4 Вие изрично се съгласявате с прехвърлянето на лична информация, описана в този раздел 5.
<p>


<p>
    6. Запазване на личната информация
<p>

<p>
    6.1 Този раздел 6 описва процедурите за съхранение на данни, които са създадени, за да гарантират че ние се съобразяме правните задължения във връзка със задържането и заличаване на личните данни на нашите потребители.
<p>
<p>
    6.2 Личната информация, която обработваме, за всякакви цели не трябва да се съхранява за по-дълго, отколкото е необходимо за тази цел или тези цели.
<p>

<p>
    6.3 Независимо от останалите разпоредби на настоящия раздел 6, ние ще запазим документи (включително електронни документи), съдържащи лични данни:
<p>

<p>
    (А) До такава степен, че ние сме длъжни да го правим по закон;
<p>

<p>
    (Б) Ако вярваме, че документите могат да бъдат от значение за всички текущи или бъдещи съдебни производства;
<p>

<p>
    (В), За уражняване или защита на нашите законови права (включително предоставяне на информация на други лица за целите на борбата с измамите и намаляване на кредитния риск);
<p>


<p>
    7. Защита на личната информация
<p>

<p>
    7.1 Ние ще предприемем разумни технически и организационни мерки, за да предотвратим загубата, злоупотребата или изтриването на Вашата лична информация.
<p>

<p>
    7.2 Ние ще съхраняваме цялата лична информация, която предоставяте на нашите защитени с парола сървъри.
<p>

<p>
    7.3 Всички електронни финансови сделки, сключени чрез нашия сайт, ще бъдат защитени с технология за кодиране.
<p>

<p>
    7.4 Вие се съгласявате, че предаването на информация по интернет в своята същност е несигурно, а ние не можем да гарантираме сигурността на данните, изпратени по интернет.
<p>

<p>
    7.5 Вие носите отговорност за запазване на паролата, която използвате за достъп до нашия уеб сайт;
<p>


<p>
    8. Изменения
<p>

<p>
    8.1 Имаме право да актуализираме тази политика от време на време, като публикува нова версия на нашия уебсайт.
<p>

<p>
    8.2 Можете да разгледате тази страница от време на време, за да се гарантира, че сте доволни с всякакви промени в тази политика.
<p>

<p>
    8.3 Ние може да Ви известяваме за промени в тази политика по електронна поща или чрез система за лични съобщения в нашата интернет страница.
<p>


<p>
    9. Вашите права
<p>

<p>
    9.1 Може да поискате да ви предоставим всякаква лична информация, която съхраняваме за вас. Предоставяне на такава информация ще бъде предмет на:
<p>

<p>
    (А) Плащане на такси ако информацията трябва да бъде изпратена с физически носител или по друг начин който изисква плащане на такси.
<p>

<p>
    (Б) Може да посикаме от вас подходящо доказателство за вашата самоличност (за тази цел, ние обикновено изискваме фотокопие от личната карта, заверен от нотариус. Може да поискаме и копие от фактури върху които пише вашият физически адрес като фактури за ток, вода, телефон).
<p>

<p>
    9.2 Ние може да не разкриваме всяка лична информация, която е поискана до степента, позволена от закона.
<p>

<p>
    9.3 Може да ни информирате по всяко време да не използваме личните Ви данни за маркетингови цели.
<p>

<p>
    9.4 На практика с използването на нашите услуги и уеб сайт вие се съгласявате ние да използваме вашата лична информация за маркетингови цели. Ние ще ви предоставим възможност да се откажете от използването на личните Ви данни за маркетингови цели.
<p>


<p>
    10. Други уеб сайтове - трети страни
<p>

<p>
    10.1 Нашият сайт съдържа хипервръзки към и подробности за уеб сайтове на трети страни.
<p>

<p>
    10.2 Ние нямаме контрол над тях и не носим отговорност за политиката за конфиденциалност и практики на трети лица.
<p>


<p>
    11. Актуализиране на информацията
<p>

<p>
    11.1 Моля, уведомете ни, ако личната информация, която имаме за вас трябва да се коригира или актуализирана.
<p>

