@model MassageStudioApp.Models.Home.StatisticVM
@{
    ViewData["Title"] = "Statistic";
}

<h1>Statistic</h1>

<h4>Count of massages: @Model.countEmployees</h4>
<h4>Count of clients: @Model.countClients</h4>
<h4>Count of free hours: @Model.countHours</h4>
