@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в масажно студио Relief!</h1>
    <h2>
        Масажно студио Relief се грижи за Вашата почивка. Тук ще откриете достъпна, удобна, луксозна масажна терапия, персонализирана само за Вас.
    </h2>
    <img src ="https://www.revitalizetherapy.com/wp-content/uploads/2017/02/iStock_000011185393XLarge.jpg" style="width:800px;height:600px;">
</div>
