@model MassageStudioApp.Models.Home.StatisticVM
@{
    ViewData["Title"] = "Statistic";
}

<h1>Статистика</h1>

<h4>Брой на служителите: @Model.countEmployees</h4>
<h4>Брой на клиентите: @Model.countClients</h4>
<h4>Брой на сшободните часове: @Model.countHours</h4>
