<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MassageStudioApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img src="https://t4.ftcdn.net/jpg/00/99/47/49/360_F_99474971_kvwn04WzYNdXntumZ4ajbDYyfOpKxUoX.jpg" style="width:100px;height:100px;" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Масажно студио Relief</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Начална страница</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Повелителност</a>
                        </li>
                        @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                        {
                    <li class="nav-item active">
                        <div class="dropdown show">
                            <a class="nav-link active dropdown-toggle" href="#"
                               id="dropdownMenuLink"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Масажисти
                            </a>
                            <div class="dropdown-menu" aria-labelledbly="dropdownMenuLink">
                                <a class="dropdown-item" href="/Employees/Index">Всички</a>
                                <a class="dropdown-item" href="/Employees/Create">Добави</a>
                            </div>
                        </div>
                    </li>
                     <li class="nav-item active">
                         <div class="dropdown show">
                             <a class="nav-link active dropdown-toggle" href="#"
                                id="dropdownMenuLink"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                 График
                             </a>
                             <div class="dropdown-menu" aria-labelledbly="dropdownMenuLink">
                                 <a class="dropdown-item" href="/Hours/Index">Всички часове</a>
                                 <a class="dropdown-item" href="/Hours/Create">Добави час</a>
                             </div>
                         </div>
                     </li>
                      <li class="nav-item">
                          <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Statistic">Статистика</a>
                      </li>
                      }

                        @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Client")))
                        {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Hours" asp-action="Index">Часове</a>
                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="My">Мои резервации</a>
                                    </li>

                         }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Масажно студио Relief - <a asp-area="" asp-controller="Home" asp-action="Privacy">Повелителност</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
